* {
    margin: 0;
    padding: 0;
}

body {
    
    font-family: sans-serif;
    line-height: 1.4;
}

.product {
    border: 5px solid black;
    width: 825px;
    margin: 15px auto ;
}
.product-title {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px;
}
#price:hover {
    color: red;
    background: #444;
    border-bottom: solid 10px orchid;
    text-decoration: underline dotted orangered;
}
.price {
    font-size: 24px;
}

.shipping {
   font-size: 12px;
   text-transform: uppercase;
   font-weight: bold;
   color: #777;
   margin-bottom: 20px;
}



.more-info:any-link ,
.more-info:visited {
    color: black;
}
.more-info:hover,
.more-info:active {
    text-decoration: none;  
}

.details-title {
   text-transform: uppercase;
   font-size: 16px;
   margin-top: 30px;
}

.details-list {
   list-style: square;
   margin-left: 20px;
}

.details-list li {
    margin-bottom: 10px;
}
.add-cart {
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    padding: 15px;
}

.add-cart:hover {
    background-color: #fff;
    color: #000;
    border-top: 5px solid #000;
}